
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/sherd/_MainMenu.cshtml";
}



    <!-- start slider -->
    <div class="slider_bg">


        <div class="wrap">
            <!---start-da-slider----->
            <div class="da-slide">

                @* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh *@
                <div class="container">
                    <div class="row">

                        @using (Html.BeginForm())
                        {
                            @Html.TextBox("searchterm", null, new { id = "textsearch" })
                            <input type="submit" name="search" value="search" />

                        }

                        <h2><span><img src="@Url.Content("~/Content/mystyle/")images/logoo.png  " style="height:auto;padding-right: 170px" /></span></h2>

                        <div class="col-sm-6 col-sm-offset-3">

                            <div id="imaginary_container" style="margin-top:0px">

                                <div class="input-group stylish-input-group">


                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>

                                    <input type="text" class="form-control" style="height:50px;" placeholder="ابحث عن القناة">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* hhhhhhhhhhhhhhhhhhhhhhhhhhhh *@


            </div>
            <!---//End-da-slider----->


        </div>
        <!---//start-footer-div----->
        <footer id="footer">
            <div id="glass">
                <h style="font-family:'Times New Roman', Times, serif">حمل التطبيق مجانا على جهازك الذكي</h>

                <ul id="filters" class="clearfix" align="center">
                    <li><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/apple.png " style="padding-left: 350px; height:auto" alt="" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/android.png" style="height:auto" alt="" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/windows.png" style="height:auto" alt="" /></a></li>

                </ul>

            </div>
        </footer>
        <!---//End-footer-div----->

    </div>
    <!-----end-slider-------->
    <!--start portfolio------>
    <div class="wrap" id="portfolio">
        <div class="main">
            <!-- start gallery  -->
            <div class="gallery1">

                <!---start-content----->
                <div class="gallery">
                    <div class="clear"> </div>
                    <div class="container">

                        <ul id="filters" class="clearfix">

                            <li><br /><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/multi.png " style="height:auto;width:auto" alt="" /></a></li>
                            <li><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/update.png" style="height:auto;width:auto" alt="" /></a></li>
                            <li><a href="#"><img src="@Url.Content("~/Content/mystyle/")images/advance search.png" style="height:auto;width:auto" alt="" /></a></li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---End-gallery----->
    <!-----start-about-------->

    <div class="about" id="about" style="margin-top:20px">
        <div class="topright">

            <h2>عن الخدمه</h2><br /><br /><br />
            <p class="blocktext" style="height:auto">
                المنار قناة إعلامية عامة، وهي شركة مساهمة لبنانية مسجلة أصولاً وحائزة على
                التراخيص القانونية المطلوبة ضمن القوانين المرعية الإجراء،
                باشرت إرسالها الأرضي عام 1991، والفضائي عام 2000،
                ووحَّدت إرسالها الأرضي والفضائي في اليوم الأول من شهر رمضان عام 2014.
                من الشعارات التي اعتمدتها لنفسها “قناة العرب والمسلمين”.

            </p>

        </div>
        <div class="topleft">
            <img src="@Url.Content("~/Content/mystyle/")images/logo2.png" alt="" />

        </div>
    </div>


    <div style="text-align:right">

        <h2 style="margin-right:222px;margin-top: 33px;color:#636363">ما جديد خدماتنا؟</h2>
        <hr style="margin-right:222px;width:80%" />
        <div class="about2" id="about">

        </div>
        <hr style="margin-right:222px;width:80%" />
    </div>
    <!---------end-about------------->
    <!-----start-about-------->

    <div class="about2" id="about">
        <div class="wrap">
            <div class="about-grids">
            </div>
        </div>
    </div>
    <!---------end-about------------->


    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
            </div>

            <p></p>
        </div>
    </div>


